vosk==0.3.32
numpy==1.21.4
scikit-learn==1.0.1
httpx==0.21.1
opencv-python==4.5.4.60
scikit-learn==1.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
tqdm==4.62.3
tensorflow_text==2.7.3
pandas==1.3.4
torch==1.7.1
torchvision==0.8.2
pyyaml
matplotlib
seaborn
navec
slovnet
ipymarkup
natasha